<h1>Accomplishments</h1>

<table class="table" data-name="accomplishments-list">
  <thead>
    <tr>
      <th>Team</th>
      <th>Accomplishment</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accomplishments.each do |accomplishment| %>
      <%= sync partial: 'accomplishment_list_row', resource: accomplishment, scope: accomplishment.team, refetch: true %>
    <% end %>
    <%= sync_new partial: 'accomplishment_list_row', resource: Accomplishment.new, refetch: true %>
  </tbody>
</table>

<br />

<%= link_to 'New Accomplishment', new_accomplishment_path %>
